@{
    ViewBag.Title = "Working Hours";
}


    <h2>Working hours</h2>
    <h4>Total hours to do: @ViewBag.hoursList.ToDo</h4>
    <h4>Hours done:  @ViewBag.hoursList.HoursDone</h4>
    <h4>Hours planned:  @ViewBag.hoursList.HoursPlan</h4>
    <h4>Hours left to plan: @ViewBag.hoursList.HoursLeft @Html.ActionLink("Book a room", "Index", "BookRoom")</h4>
