@{
    ViewBag.Title = "Manage Booking";
}


<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><center>Administration</center></div>

        <!-- Table -->
        <table id="myTable" class="table">
            <tr>
                <th>Teacher</th>
                <th>Teaching</th>
                <th>Promotion</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Projector</th>
                <th>Computer</th>
                <th>Building</th>
                <th>Room</th>
                <th>Action</th>
            </tr>
            @foreach (dynamic waiting in ViewBag.waitingsList)
            {
            <tr>
                <td>@waiting.Teaching.Teacher.First_Name @waiting.Teaching.Teacher.Last_Name</td>
                <td>@waiting.Teaching.Course.Subject.Subject_Name</td>
                <td>@waiting.Teaching.Group.Group_Name</td>
                <td>@waiting.Start_Date</td>
                <td>@waiting.End_Date</td>
                @if (waiting.Room.Projector=="true"){
                <td>Yes</td>
                }
                else
                {
                <td>No</td>
                }
                @if (waiting.Room.Computer=="true"){
                <td>Yes</td>
                }
                else
                {
                <td>No</td>
                }
                <td>@waiting.Room.Building.Building_Name</td>
                <td>@waiting.Room.Room_Number</td>
                <td>
                    <button type="button" id="btnAccept" class="btn btn-success btn-xs">Accept</button>
                    <script>
                        $(function () {
                            $("#btnAccept").click(function (e) {
                                e.preventDefault();
                                var idBook = 'waiting.Id_Booking'
                                $.post("@Url.Action("acceptReservation","ManageBooking")",
                                    { id: idBook }, function (data) {
                                        document.getElementById("myTable").deleteRow(0);
                                    });
                            });
                        });
                    </script>
                    <button type="button" id="btnRefuse" class="btn btn-danger btn-xs">Refuse</button>
                    <script>
                        $(function () {
                            $("#btnRefuse").click(function (e) {
                                e.preventDefault();
                                var idBook = 'waiting.Id_Booking'
                                $.post("@Url.Action("refuseReservation","ManageBooking")",
                                    { id: idBook }, function (data) {
                                        // do something with the response
                                    });
                            });
                        });
                    </script>
                </td>
            </tr>
            }
        </table>
    </div>
